<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dzakdzaks.ta_umroh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_apk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".global.PreviewPhoto"
            android:theme="@style/AppTheme.Fullscreen"/>
                <activity android:name=".home.KonfirmasiTiket"
                    android:parentActivityName=".home.TiketActivity"/>
        <activity android:name=".admin.ListJamaahActivity"
            android:parentActivityName=".home.DashboardActivity"/>
        <activity android:name=".admin.JadwalAdminActivity"
            android:parentActivityName=".home.DashboardActivity"/>
        <activity android:name=".home.DashboardActivity"
            android:parentActivityName=".home.MainActivity"/>
        <activity
            android:name=".home.JamaahActivtiy"
            android:parentActivityName=".home.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/title_activity_jamaah_activtiy"/>
        <activity android:name=".user.ProfilrActivity"
            android:parentActivityName=".home.MainActivity" />
        <activity android:name=".admin.ConfirmPaymentActivity"
            android:parentActivityName=".home.DashboardActivity"/>
        <activity android:name=".home.DetailJadwalActivity"
            android:parentActivityName=".home.JadwalActivity"/>
        <activity android:name=".home.JadwalActivity"
            android:parentActivityName=".home.MainActivity"/>
        <activity
            android:name=".home.TiketActivity"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".home.PaketActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".user.RegisterActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".user.LoginActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>